* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: brown;
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 2000px;
    padding: 20px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.container .main {
    width: 480px;
    margin: 0 auto;
    height: 620px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.container:hover .main {
    filter: blur(4px);
    transform: scale(0.95);
    opacity: 0.5;
}

.container .main:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container:hover .card {
    filter: blur(4px);
    transform: scale(0.95);
    opacity: 0.5;
}

.container .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container:hover .piccard {
    filter: blur(4px);
    transform: scale(0.95);
    opacity: 0.5;
}

.container .piccard:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container .img {
    height: 450px;
    background: brown;
}

.container .img img {
    height: 100%;
}

.container .content {
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container .content p {
    color: #666666;
}

.container .footer {
    display: flex;
    justify-content: space-between;
    /*background: red;*/
    align-items: center;
    height: 55px;
    background: white;
}

.container .ft-l {
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
}

.container .ft-l img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.container .ft-l p {
    margin-left: .5rem;
}

.container .ft-r {
    padding-right: 2rem;
}

.container .card {
    position: relative;
    width: 480px;
    height: 150px;
    background: white;
    margin: 20px auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    text-align: center;
}

.container .card h2 {
    color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e5e5e5;
}

.container .card .cardcontent{
    padding-top: 10px;
    text-align: center;
}


.container .card .cardcontent p {
    padding-top: 2px;
    color: #666666;
    padding-bottom: 0px;
}

.container .card h1 {
    color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e5e5e5;
}

.container .card .cardcontent a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: brown;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 10px;
}

.container .piccard {
    position: relative;
    width: 480px;
    background: rgb(224, 56, 56);
    margin: 0px auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    text-align: center;
    align-items: center;
}

.container .piccard h2 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #aa0000;
}

.container .piccard .img {
    height: 340px;
    background: rgb(0, 255, 106);
}

.container .piccard .img img {
    height: 100%;
}